<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bayazitesen.englishforkids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".Sayilar">
            <intent-filter>
                <action android:name="android.intent.action.SAYILAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Renkler">
            <intent-filter>
                <action android:name="android.intent.action.RENKLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Hayvanlar">
            <intent-filter>
                <action android:name="android.intent.action.HAYVANLAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Meslekler">
            <intent-filter>
                <action android:name="android.intent.action.MESLEKLER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Aile">
            <intent-filter>
                <action android:name="android.intent.action.AILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>